# Git Ignore for Droplets.
# -----------------------------------------------------------------------------

# Flotsam & Jetsam.
# -------------------------------------
.DS_Store

# Nested Git files.
# -------------------------------------
**/.git
**/.gitignore
**/.gitmodules

# Composer.
# -------------------------------------
composer.lock
